.main_section {
  display: flex;
  flex-direction: column;
  position: relative;
}

.logo {
  position: absolute;
  left: 10px;
  top: 38px;
}
.logo img {
  width: 80px;
}

.content {
  margin: 150px 10px;
}

.main_section .main_content .banner {
  width: 400px;
  height: 385px;
  position: absolute;
  right: 0;
  top: 38px;
}

.userContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userGreatings {
  text-align: center;
  width: 100vw;
}

.userGreatings h1,
.userGreatings p {
  padding: 10px;
  margin: 5px 0;
}

.service h3 {
  display: inline;
  margin-left: 20px;
  margin-bottom: 20px;
}

.wraper {
  display: flex;
  height: 100%;
}

.serviceButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  height: 50%;
}

.serviceButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 200px;
  margin-left: 30px;
  color: white;
  background-color: #3fa3e0;
}

.serviceDisplay {
  width: 75%;
}

/* Services Component Styles (Add, Send and Recharge) */
.container {
  display: flex;
  flex-direction: column;
}
